html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/80s_backgrounds_010.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#colors .col-xs-3 {
    height: 100px;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

.gamebtn button {
    padding: 15px;
}

@media (max-width: 425px) {
    body {
        background-position: center;
    }
}