.colors .col-xs-3 {
	height: 100px;
}

#red {
	background-color: red;
}
#green {
	background-color: green;
}
#blue {
	background-color: blue;
}
#yellow {
	background-color: yellow;
}

.gamebtn button {
	padding: 15px;
}