html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/80s_backgrounds_010.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a, button {
	outline: none;
}

.row {
    margin: 0;
}

#game {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #e3e4de;
    position: relative;
}

#colors .col-xs-6 {
    height: 250px;
}

#red {
    background-color: #ef393f;
}

#green {
    background-color: #1a8a51;
}

#blue {
    background-color: #20698c;
}

#yellow {
    background-color: #f0ba01;
}

#colors button {
    padding: 0;
    margin: 0;
    border: 1px solid #e4e5dd;
}
.gamebtn {
    margin: 0 auto;
    width: 200px;
}
.gamebtn button {
    padding: 15px;
    border-radius: 50%;
    border: 1px solid grey;
}

.controls {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 125px;
    left: 125px;
    background: #e9eae4;
    border: 1px solid #c1c1bd;
    border-radius: 50%;
}
#count {
    background: #686963;
    width: 50px;
    padding: 6px;
    margin: 25px auto;
    color: white;
    border-radius: 5px;
}
.active {
	background-color: #1a8a51;
    box-shadow: 0 0 25px #2ecc2e;
}

@media (max-width: 425px) {
    body {
        background-position: center;
    }
}